<% provide :link_page do %>
  <%= t "views.borrow_cards.index.title" %>
<% end %>

<%= render "shared/client_page_heading" %>

<div id="profile">
  <div class="container">
    <%= render "shared/profile_action" %>
    <div class="row" id="cart-content">
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <%= render partial: "card", collection: @cards %>
      </div>
    </div>
  </div>
</div>
