<div class="col-lg-12">
  <div class="text-center p-4">
    <h4 class="truncate-text text-muted"><%= t "views.favorites.not_found" %></h4>
    <p class="mb-0 text-muted"><%= t "views.favorites.not_found_message" %></p>
  </div>
</div>
