<div class="col-sm-6 col-md-3 col-xs-12">
  <div class="item">
    <h4 class="truncate-text"><%= ep.name %></h4>
    <div class="thumb">
      <%= link_to book_episode_path(ep.book, ep) do %>
        <%= image_tag ep.thumb %>
      <% end %>
    </div>
  </div>
</div>
