<% if flash.any? || (user_signed_in? && current_user.errors.any?) %>
  <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1000">
    <% if flash.any? %>
      <% flash.each do |key, messages| %>
        <% if key == "success" %>
          <%= render "shared/toast_success", msg: messages %>
        <% elsif key == "error" %>
          <%= render partial: "shared/toast_error", collection: Array(messages), as: :msg %>
        <% end %>
      <% end %>
    <% end %>
    <% if user_signed_in? && current_user.errors.any? %>
      <%= render partial: "shared/toast_error", collection: @user.errors.full_messages, as: :msg %>
    <% end %>
  </div>
<% end %>
