<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-animation="true" data-bs-autohide="true" data-bs-delay="3000">
  <div class="toast-header bg-success">
    <strong class="me-auto text-light"><%= t "views.shared.toast.success" %></strong>
    <button type="button" class="btn-close btn-warning" data-bs-dismiss="toast"></button>
  </div>
  <div class="toast-body bg-success text-light">
    <span><%= msg %></span>
  </div>
</div>
