<div class="toast show">
  <div class="toast-header bg-danger">
    <strong class="me-auto text-light"><%= t "views.shared.toast.error" %></strong>
    <button type="button" class="btn-close btn-warning" data-bs-dismiss="toast"></button>
  </div>
  <div class="toast-body bg-danger text-light">
    <span><%= msg %></span>
  </div>
</div>
