<div id="toast-container" class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1000">
  <div id="toast-new" class="toast">
    <div class="toast-header bg-success">
      <strong class="me-auto text-light"><%= t "views.shared.toast.success" %></strong>
      <button type="button" class="btn-close btn-warning" data-bs-dismiss="toast"></button>
    </div>
    <div class="toast-body bg-success text-light">
    </div>
  </div>
</div>
