<div class="col-md-12 p-3 truncate-text border-bottom">
  <%= link_to book_episode_path(ep.book, ep) do %>
    <i class="fa-solid fa-magnifying-glass"></i>
    <span><%= ep.name %></span>
  <% end %>
</div>
