<div id="ratings" class="mt-3" data-controller="rating_form" data-user-rating="<%= user_rating.present? %>">
  <% if current_user %>
    <%= turbo_frame_tag "ratings_form" do %>
      <% if user_rating %>
        <%= render "ratings/my_review", rating: user_rating %>
      <% else %>
        <%= render "ratings/form", episode: episode %>
      <% end %>
    <% end %>
  <% end %>
</div>
