<div id="notfound">
  <div class="notfound">
    <div class="notfound-404">
      <h1>4<span></span>4</h1>
    </div>
    <h2><%= t "views.not_found.title" %></h2>
    <p>
      <%= t "views.not_found.content" %>
    </p>
    <%= link_to t("views.not_found.btn_back"), root_path, class: "btn btn-primary" %>
  </div>
</div>
