<li class="list-group-item publisher-item d-flex align-items-center justify-content-between px-3">
  <div class="d-flex align-items-center">
    <div class="publisher-name ml-3">
      <%= link_to category.name, admin_category_path(category) %>
    </div>
  </div>
  <%= render "admin/shared/action_buttons", resource: category %>
</li>
