$bg-color1: -moz-linear-gradient(136deg, rgb(0, 158, 253) 0%, rgb(42, 245, 152) 100%);
$bg-color2: -webkit-linear-gradient(136deg, rgb(0, 158, 253) 0%, rgb(42, 245, 152) 100%);
$bg-white: #f9f9f9;
$white: #fff;
$gray: #ccc;
$black: #333;
$green: #53c83c;
$gray2: rgba(255, 255, 255, 0.2);
$blue: #30e1df;
$blue2: #3d5983;
$black2: rgba(0, 0, 0, 0.15);
$shadow: rgba(0, 0, 0, 0.1);
$black3: #232323;
$gray3: #787878;
$orange: #f99827;
$gold: #FFD700;
$gold-light: #FFED85;
