<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center text-white my-auto">
      <span><%= t ".content" %></span>
    </div>
  </div>
</footer>
