<%= link_to admin_root_path, class: "sidebar-brand d-flex align-items-center justify-content-center" do %>
  <div class="sidebar-brand-icon">
    <i class="fas fa-book-open-reader"></i>
  </div>
  <div class="sidebar-brand-text mx-3"><%= t "app_name" %></div>
<% end %>
